{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="old password" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="new password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>


{% endblock %}
